.logo {
  width: 150px;
}

.login-container {
  background-color: #548a63;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.main-content {
  margin-left: 240px;
}

.card {
  min-height: 300px;
}

.list-group-item.active {
  background-color: #198754;
  border-color: #198754;
}

.transaction-items {
  max-height: 200px;
  overflow-y: scroll;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999 !important;
}

.ui-menu {
  width: 300px;
}

* html .ui-autocomplete {
  height: 200px;
}

.ui-menu-item:hover {
  background: #007bff;
  color: #fff;
}

.search-items-container {
  max-height: 200px;
  overflow: scroll;
}

.car-qty {
  width: 50px;
}

@media only screen and (max-width: 1399px) {
  .mobile-col-lg {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-col-md-lg {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-col-md {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .mobile-col-sm {
    display: none;
  }
}

.clear-input {
  display: flex;
}

.clear-input button,
.clear-input button:active,
.clear-input button:focus,
.clear-input button:focus-visible,
.clear-input button:hover {
  color: grey;
  border-radius: 50%;
  padding: 0px;
  margin: 0px 0px 0px 6px;
  border: none;
  box-shadow: none;
  outline: none;
}

.clear-input button:hover {
  color: #4b4949;
}

.clear-input input,
.clear-input input:focus,
.clear-input input:focus-visible {
  border: none;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}

.table-header-fixed thead {
  position: sticky;
  top: 0;
  background: #e9ecef;
}

.table-header-fixed thead th {
  border: none;
}

.modal form textarea {
  width: -webkit-fill-available;
}

.reset-password {
  color: #fff;
  text-align: center;
  padding-top: 2px;
}

.table-rpt thead {
  background: #e9ecef;
}